extends ../layout.pug

block append content  
    h1.head-title Welcome to Hotel System!
    .cards
      each hotel in hotels
        a(href=`/hotel/${hotel._id}/${hotel.title}`)
          .product-card
            img.product-img(src=`${hotel.image}`)
            h2=hotel.title
            p=`Location: ${hotel.location}`
